@font-face {
  font-family: Manrope;
  src: url("./assets/fonts/Manrope-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Manrope, Helvetica, sans-serif;
  letter-spacing: .1rem;
  color: #fff;
}
body {
  background-color: hsl(218, 23%, 16%);
}
